#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.sectionHeader {
  padding: 3rem 0;
}

.section {
  padding: 1.5rem 1.5rem !important;
}